@media screen and (min-width: 801px) {
    #app {
        width: 85%;
        margin: auto;
    }
}

#app {
    box-shadow: 2px 2px 10px rgb(2, 1, 1);
    padding-bottom: 4%;
}

@media screen and (max-width: 425px) {
    header.header {
        .side-menu {
            ul {
                text-align: center;
                li {
                    line-height: 1.8;
                    font-weight: 600;
                }
            }
        }
        .menu-logo-wrapper__logo {
            img {
                width: 150px;
            }
        }
        .header__inner {
            .add-btn {
                padding: inherit;
                padding-top: 2.5%;
                button {
                    position: initial;
                    .fa {
                        font-size: 6.5rem;
                    }
                }
            }
        }
        .date-plate {
            margin-top: 4%;
            font-size: medium;
            font-weight: 550;
        }
    }
    main.main {
        .events-count-label {
            margin: 4% 0;
            span {
                font-size: 2.4rem;
                font-weight: 550;
                width: 100%;
                overflow: auto;
            }
        }
    }
    form.add-form {
        width: 95%;
        padding-top: 10%;
        box-shadow: 0 0 2px #999;
        .form-field {
            button#submit-btn {
                width: 70%;
                font-weight: 550;
            }
            input {
                font-size: 1.7rem;
            }
        }
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    form.add-form {
        width: 80%;
    }
    header.header {
        .side-menu {
            ul {
                text-align: center;
            }
        }
        .header__inner {
            .add-btn {
                padding: inherit;
                padding-top: 2.5%;
                display: none;
                button {
                    position: initial;
                    .fa {
                        font-size: 7.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    form.add-form {
        width: 60%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    header.header {
        .header__inner {
            .add-btn {
                button {
                    right: 10%;
                    .fa {
                        font-size: 7.5rem;
                    }
                }
            }
        }
    }
}